.collapsing {
    transition: height 350ms ease;
}

/* #kt_app_main {
    background-color: #f5f5f5;
} */

#create-toolbar-area:has(#create-collapse.show) .create-open-btn {
    display: none !important;
}

#create-toolbar-area:has(#create-collapse.show) .create-close-btn {
    display: inline-flex !important;
}


.additional-fields-panel {
    background-color: #eefcff !important;
}